<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261504568328-vov9e595b16n1q5k2dl3undmlpbt0d92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261504568328-vov9e595b16n1q5k2dl3undmlpbt0d92</string>
	<key>API_KEY</key>
	<string>AIzaSyCjTZaz5-XjQGA7tmJ7yrjGqj-m9dTgvY8</string>
	<key>GCM_SENDER_ID</key>
	<string>261504568328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TolbaCompany.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-1c0b8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-1c0b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261504568328:ios:e02116700e14f924ced5bd</string>
</dict>
</plist>